.hero {
    width: 90%;
    max-width: 1000px;
    margin: 70px auto;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: row;
    
    .title-container {
        height: 100%;
        width: 100%;
    }

    .hero-title {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
    }

    .hero-title h2 {
        font-size: 26px;
        font-weight: 100;
        padding-left: 30px;
        color: #6B6B6B;
    }

    .card-container {
        height: 100%;
        width: 100%;
        position: relative;
    }
}

.dots {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 100%;
}

@media (max-width: 958px) {
    .dots {
        display: none;
    }

    .hero {
        margin-bottom: 0;
        height: 350px;
    }
}