

.navbar {
    width: 100%;
    height: 90px;
    position: relative;

    .navbar-wrapper {
        width: 90%;
        margin: 20px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 120px;
        height: 50px;
    }

    .navbar-links {
        height: 100%;
        width: 70%;
        max-width: 600px;
        display: flex;
        justify-content: space-between;
    }

    ul a {
        font-size: 14px;
        width: fit-content;
        color: #000;
        padding: 10px;
        border-bottom: 3px solid #fff;
        transition: ease-in-out 0.1s;
    }

    ul a:hover {
        color: #000;
        border-bottom: 3px solid #263CAB;
    }
}

.drawer {
    display: none;

    .menu {
        cursor: pointer;
    }
}

.drawer-container {
    width: 30%;
}

.navbar-links-drawer {
    display: flex;
    flex-direction: column;

    ul a:hover {
        color: #000;
        border-bottom: 3px solid #263CAB;
    }
}

@media (max-width: 958px) {
    .drawer {
        display: block;
    }

    .navbar .navbar-links {
        width: 0%;
        
    }

    .navbar-links a, .button {
        display: none;
    }

}

