@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

button:focus {
  outline: 0 !important;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
  display: inline-block;
}

.card-grid {
  max-width: 1000px;
  margin: 20px auto;
}

.mini-cards {
  margin-top: 60px;
  position: relative;
}